<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bücherschränke in Berlin</title>
    <link rel="icon" href="/images/book.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <style>
        .leaflet-popup-content {
            font-size: 1.5em;
        }
    </style>
</head>
<body>
<div id="map" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%;"></div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const map = L.map('map').setView([52.5200, 13.4047], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> | <a href="https://de.wikipedia.org/wiki/Liste_öffentlicher_Bücherschränke_in_Berlin">Wikipedia</a>'
    }).addTo(map);

    const bookIcon = L.icon({
        iconUrl: '/images/book.svg',
        iconSize: [48, 48],
        iconAnchor: [24, 24],
        popupAnchor: [0, -24]
    });
    const photoIcon = L.icon({
        iconUrl: '/images/photo.svg',
        iconSize: [48, 48],
        iconAnchor: [24, 24],
        popupAnchor: [0, -24]
    });

    const boxes = [[${boxes}]]
    for (i = 0; i < boxes.length; i++) {
        const box = boxes[i];
        const icon = box.imageUrl != null ? photoIcon : bookIcon;
        const marker = L.marker([box.coordinate.lat, box.coordinate.lon], {icon: icon}).addTo(map);

        let popupText = "<table><tbody><tr>";
        if (box.imageUrl != null) {
            popupText += "<td style='vertical-align: top;'><img width='100px' src='https:" + box.imageUrl + "'></td>";
        }
        popupText += "<td style='vertical-align: top;'><div style='font-weight: bold;'>" + box.address + "</div>"
        if (box.type != null) {
            popupText += "<div style='font-style: italic;'>" + box.type + "</div>"
        }
        if (box.comment != null) {
            popupText += "</td></tr><tr>"
            if (box.imageUrl != null) {
                popupText += "<td colspan='2'>"
            } else {
                popupText += "<td>"
            }
            popupText += "<div>" + box.comment + "</div>"
        }
        popupText += "</td></tr><tr>"
        if (box.imageUrl != null) {
            popupText += "<td colspan='2'>"
        } else {
            popupText += "<td>"
        }
        popupText += "<div>🧭 <a target='_blank' href='https://www.google.com/maps/search/?api=1&query=" + box.coordinate.lat + "," + box.coordinate.lon + "'>Google Maps</a></div>"
        popupText += "</td></tr></tbody></table>"
        marker.bindPopup(popupText);
    }


    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                L.marker([lat, lon], {
                    icon: L.icon({
                        iconUrl: '/images/gps.svg',
                        iconSize: [48, 48],
                        iconAnchor: [24, 48]
                    })
                }).addTo(map);

                L.circle([lat, lon], {
                    color: '#5eff9f',
                    fillColor: '#5eff9f',
                    fillOpacity: 0.2,
                    radius: position.coords.accuracy
                }).addTo(map);

                map.setView([lat, lon], 13);
            }
        );
    }
    /*]]>*/
</script>
</body>
</html>
